html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainColor-1: #393e41;
  --mainColor-2: #e7e5df;

  /* Colors for the text */
  --textColor-2: #fff;
  --textColor-1: #e7e5df;
  --textColor-3: #393e41;
  --textColor-4: #e7bb41;

  /* Colors for button */
  --mainButtonColor-1: #44bba4;
  --btn-color: rgb(0, 183, 235);

  --glow-color: rgb(135, 232, 255);
  --glow-spread-color: rgba(64, 224, 208, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.menu-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mainColor-2);
  padding: 5px 35px 5px 35px;
  box-shadow: 0 4px 0 rgba(231, 187, 65, 0.871);
}

.logo {
  height: 80px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav > ul > li {
  list-style: none;
  padding: 1rem 1.5rem;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-family: Audiowide;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
}

#home {
  background: black;
  position: relative;
  height: 100vh;
}

.section-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.heading {
  font-family: "Trirong", serif;
  backface-visibility: hidden;
}

.heading-main {
  display: block;
  color: var(--textColor-1);
  font-size: 3rem;
  letter-spacing: 0.35rem;
  /* animation in main heading */
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.heading-sub {
  display: block;
  color: var(--textColor-4);
  font-size: 2rem;
  letter-spacing: 0.92rem;
  /* animation in sub heading*/
  animation-name: moveInRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.btn:link {
  animation-name: moveInUp;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

.btn-txt {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--textColor-3);
  font-size: 1.3rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  border: 0.25em solid var(--glow-color);
  padding: 20px 40px;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  margin-top: 15rem;
}

.btn::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.btn:hover {
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.btn:active {
  color: var(--btn-color);
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 1.2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.cv-section {
  height: 83vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(72, 85, 99, 0.8),
      rgba(41, 50, 60, 0.8)
      /* rgba(171, 186, 171, 0.8),
      rgba(255, 255, 255, 0.8) */
    ),
    url(img/backGround-PC-1.png);
  background-size: cover;
  /* background-position: top; */
  clip-path: polygon(0 0, 100% 20%, 100% 92%, 8% 100%);
}

.contact-section {
  height: 92vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(135, 232, 255, 0.8),
      var(--glow-spread-color)
    ),
    url(img/backGround-PC-2.png);
  background-size: cover;
  background-position: top;
  /* clip-path: polygon(0 0, 100% 20%, 100% 92%, 8% 100%); */
}

.heading-section {
  text-align:center;
}



@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  40% {
    opacity: 0;
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .menu-container {
    padding: 4px 25px 4px 25px;
  }
  nav > ul > li {
    padding: 0.7rem 1.05rem;
  }
  nav > ul > li > a {
    font-size: 0.9rem;
  }
  .logo {
    height: 60px;
  }
  .section-wrapper {
    top: 55%;
  }
  .heading-main {
    font-size: 2.5rem;
    letter-spacing: 0.30rem;
  }
  .heading-sub {
    font-size: 1.5rem;
    letter-spacing: 0.87rem;
  }
  .btn {
    font-size: 1.2rem;
  }
  .btn:link,
  .btn:visited {
  margin-top: 8rem;
  padding: 16px 32px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-container {
    padding: 4px 25px 4px 25px;
  }
  nav > ul > li {
    padding: 0.2rem 0.4rem;
  }
  nav > ul > li > a {
    font-size: 0.6rem;
  }
  .logo {
    height: 50px;
  }
  .section-wrapper {
    top: 55%;
  }
  .heading-main {
    font-size: 1.8rem;
    letter-spacing: 0.24rem;
  }
  .heading-sub {
    font-size: 0.9rem;
    letter-spacing: 0.75rem;
  }
  .btn {
    font-size: 0.9rem;
  }
  .btn:link,
  .btn:visited {
  margin-top: 6rem;
  padding: 12px 24px;
}
}
